@use "variables";

.column {
  background-color: lightgray;
  border-radius: variables.$default-border-radius;
  box-shadow: variables.$inset-shadow;
  padding: 1.5em;
  height: 100%;
}

h3 {
  margin: 0 0 1.2em;
}
