<div
  class="column"
  cdkDropList
  [id]="idPrefix + status()"
  [cdkDropListData]="cards()"
  [cdkDropListConnectedTo]="getConnectedTo()"
  (cdkDropListDropped)="onDrop($event)">

  <h3>{{ 'board.status.' + status().toLocaleLowerCase() | translate }} {{ cards().length }}</h3>

  @for (card of cards(); track card.id) {
    <app-ticket
      cdkDrag
      [cdkDragData]="card"
      [statuses]="connectedTo()"
      [card]="card"
      (deleteTicket)="onDeleteTicket.emit($event)"
      (editTicket)="onEditTicket.emit($event)"
    >
    </app-ticket>
  }
</div>
