$success-color: #388E3C;
$error-color: #D32F2F;
$warning-color: #F57C00;
$info-color: #1976D2;
$background-color: #d3d3d3;
$surface-color: #FFFFFF;
$on-background-color: #000000;

$default-border-radius: 15px;
$inset-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.20);
