$success-color: #388e3c;
$error-color: #d32f2f;
$warning-color: #f57c00;
$info-color: #1976d2;
$background-color: #d3d3d3;
$surface-color: #ffffff;
$on-background-color: #000000;

$default-border-radius: 15px;
$inset-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
