<h2 mat-dialog-title>{{ data?.card?.title || ('board.modal.new_ticket' | translate) }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      @if (form.controls.title.invalid) {
      <mat-error>
        Titel is verplicht
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="4"
        formControlName="description"
      ></textarea>
      @if (form.controls.description.invalid) {
        <mat-error>
          Omschrijving is verplicht
        </mat-error>
      }
    </mat-form-field>

    @if (data?.card) {
      <mat-form-field>
        <mat-label>{{ 'board.modal.status' | translate }}</mat-label>
        <mat-select formControlName="status">
          @for (status of statuses; track status) {
            <mat-option [value]="status" [disabled]="status === data?.card?.status">
              {{ 'board.status.' + status | lowercase | translate }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <app-button
    mat-dialog-close
    [disabled]="false"
    [text]="'Annuleren'"
  ></app-button>
  @if (data?.card) {
    <app-button
      (clicked)="saveTicket()"
      [disabled]="form.invalid"
      [text]="'generic.save' | translate"
    ></app-button>
  } @else {
    <app-button
      (clicked)="createTicket()"
      [disabled]="form.invalid"
      [text]="'generic.add' | translate"
    ></app-button>
  }
</mat-dialog-actions>
