<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> {{ card().title | truncate: 30 }}</mat-card-title>
    <mat-card-subtitle>{{ card().description | truncate: 150 }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <app-button
      [text]="'generic.edit' | translate"
      (clicked)="editTicket.emit({ card: card(), statuses: statuses() })"
    ></app-button>
    <button (click)="deleteTicket.emit({ card: card() })" matIconButton aria-label="Delete ticket">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
