<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> {{ card().title }}</mat-card-title>
    <mat-card-subtitle>{{ card().description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button matButton>{{ 'generic.open' | translate }}</button>
    <button matButton [matMenuTriggerFor]="menu">Verplaats</button>
    <mat-menu #menu="matMenu" yPosition="above">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
<br>
