@use 'variables';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5em;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: variables.$surface-color;

  &.in_progress {
    background-color: variables.$info-color;
  }

  &.done {
    background-color: variables.$success-color;
  }
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    align-items: flex-start;
  }

  app-button {
    margin-top: 1em;
  }
}
