section {
  display: flex;
  justify-content: space-between;
  background: white;
}

section > * {
  flex: 1;
  margin: 0 .7em;
}

section > *:first-child {
  margin-left: 0;
}
section > *:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }

  section > * {
    margin: 0 0 1em 0;
  }

  section > *:last-child {
    margin-bottom: 0;
  }
}
