@if (loading()) {
  loading spinner
} @else {
  <app-header (onCreateTicket)="openModal()" [statuses]="getStatusTotals()"> </app-header>

  <section>
    @for (status of statuses; track status) {
      <app-column
        [status]="status"
        [cards]="getCardsByStatus(status)"
        [connectedTo]="getStatusses(status)"
        (cardDropped)="dropCard($event, status)"
        (onDeleteTicket)="deleteTicket($event)"
        (onEditTicket)="openModal($event)"
      ></app-column>
    }
  </section>
}
